// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines, add the font file in app/assets/fonts and replace the font name
@font-face {
  font-family: "Pilowlava";
  src: font-url('Pilowlava-Regular.eot');
  src: font-url('Pilowlava-Regular.eot?#iefix') format('embedded-opentype'),
       font-url('Pilowlava-Regular.woff') format('woff'),
       font-url('Pilowlava-Regular.ttf') format('truetype')
}
