<%# View for all instances of Photo. Photos#index%>

<main>
  <div>
    <% @photos.each do |photo| %>
      <p><%= photo.title %></p>
      <p><%= photo.journal_entry %></p>
      <p><%= image_tag(photo.image, style: "width:150px") %></p> <%# temp note: with extra steps + defining a thumbnail method, these can resize properly according to aspect ratio%>
      <% image = url_for(photo.image) if photo.image.attached? %>
    <% end %>
  </div>
</main>

<%= content_tag(:canvas, "", data: {
  controller: "threejs",
  #loading image onto the scene (did deanin also added through form!? YES - 8:24 video)
  # image: photo.image
  # image: image
  # images: @photos.map { |photo| rails_blob_url(photo.image) } # this works! WHY? because we're using ActiveStorage, which is a Rails library that allows us to attach files to Active Record objects. It also provides a helper method called rails_blob_url that returns a URL for a given blob. We can use this method to get the URL for each photo's image.
}) %>
